.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.run/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


/log/
/infrastructure/k8s/secrets/
/infrastructure/k8s/services/*/templates/init-scripts_secret.yaml
/infrastructure/k8s/services/*/Chart.lock
/infrastructure/k8s/services/*/charts/*.tgz
/infrastructure/k8s/services/*/charts/*/charts/*.tgz
/infrastructure/k8s/services/*/charts/*/Chart.lock
